

exercicio_exemplo_soma/Gabarito-src/
exercicio_exemplo_soma/Gabarito-obj/prog
exercicio_exemplo_soma/Resultados/
exercicio_exemplo_soma/correcao.sh
exercicio_exemplo_soma/log.txt
exercicio_exemplo_soma/Resultado.csv
exercicio_exemplo_soma/saida.json
